@media screen and (max-width: 1024px) {
  .pc {
    display: none;
  }

  .nav-bar {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .section {
    height: 100vh;
  }

  .container {
    width: 100vw;
    height: 90vh;
    overflow: scroll;
  }

  .intro {
    text-align: center;
  }

  .social-link i {
    font-size: 2rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }

  .card-container {
    grid-template-columns: repeat(1, 50vw);
  }

  .timeline {
    width: 90%;
    margin: 0 auto;
  }

  .checkpoint {
    max-width: 90vw;
  }

  .sample {
    width: 80vw;
    padding: 3vh 5vw;
  }

}