@media screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  
  .nav-bar {
    width: 10vw;
    position: fixed;
    z-index: 10;
    top: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }

  .container {
    margin-left: 10vw;
    width: 90vw;
    min-height: 100vh;
  }

  .social-link i {
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 1.25rem;
  }

  .social-link a:hover i {
    font-size: 2.75rem;
  }

  iframe {
    height: 40vh;
  }

  .card-container {
    grid-template-columns: repeat(3, 20vw);
    margin-bottom: 10vh;
  }

  .timeline {
    width: 100%;
  }

  .sample {
    width: 600px;
    padding: 3vh 2vw;
  }

  .self-intro {
    display: flex;
  }

  .checkpoint {
    max-width: 35vw;
  }

  .checkpoint:nth-child(odd) {
    border-left: 0.2vw solid var(--primary-color);
    padding-left: 2rem;
    transform: translateX(17.4vw);
  }
  
  .checkpoint:nth-child(even) {
    border-right: 0.2vw solid var(--primary-color);
    padding-right: 2rem;
    transform: translateX(-17.4vw);
  }
  
  .checkpoint:nth-child(odd)::before,
  .checkpoint:nth-child(even)::before {
    content: '';
    width: 2rem;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
  }

  .checkpoint:nth-child(odd)::before {
    left: 0;
  }

  .checkpoint:nth-child(even)::before {
    right: 0;
  }
}