@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./mobile.css');
@import url('./pc.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4rem;
  font-size: 16px;

  --primary-color: #5E2BFF;
  --bg-color: #100;
  --text-color: #fff8f0;
  --default-font: "Poppins", sans-serif;
}

:root {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--default-font);
  font-size: 1rem;
  transition: all .3s ease-in-out;
}

h1 {
  font-size: 3rem;
  margin: 3.6rem 0;
}

h2 {
  font-size: 2rem;
  margin: 2.4rem 0;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 1.8rem 0;
  color: var(--primary-color);
}

button {
  font-family: var(--default-font);
  font-size: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

i {
  font-size: 1.2rem;
}

ul {
  margin: 0 1rem;
}

li {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.spacing-1 {
  margin: 0 1rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 100vw;
  min-height: 100vh;
}

.container {
  display: grid;
  place-items: center;
}

.nav-item {
  margin: 0.5vh 0;
  box-shadow: none;
  border: 0;
  border-radius: 1.25rem;
  background-color: transparent;
  min-height: 2vw;
  min-width: 2vw;
  text-align: center;
}

.nav-item i {
  font-size: 1.5em;
  padding: 1rem;
  color: var(--text-color);
}

.active-btn {
  transition: all 0.05s ease-in-out;
}

.active-btn i {
  color: var(--primary-color);
}

.nav-item:hover i {
  font-size: 1.75rem;
  transition: all 0.05s ease-in-out;
  color: var(--primary-color);
  opacity: 0.5;
}

.section {
  display: block;  
  overflow: hidden;
  width: 100vw;
  word-wrap: break-word;
  min-height: 100vh;
}

.intro {
  display: flex;
}

.social-link {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

.social-link i {
  color: var(--text-color);
  margin: 0 0.5rem;
}

.social-link a:hover i {
  transition: all 0.1s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  top: -5vh;
  right: -50%;
  display: none;
  border-radius: 0.25rem;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  display: block;
}

.skills {
  display: none;
}

.card-container {
  display: grid;
  gap: 5vh 3vw;
  padding: 0 2vw;
  justify-content: center;
}

.card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  height: fit-content;
}

.exp {
  display: none;
}

.timeline {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkpoint {
  position: relative;
  padding: 1rem 0;
}

.checkpoint div {
  border-radius: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--primary-color);
}

.edu {
  display: none;
}

.level {
  border-left: 2px solid var(--primary-color);
  padding-left: 1.5rem;
  margin: 1rem 5vw;
  word-wrap: break-word;
}

.desc {
  margin: 1vh 0;
}

.desc span{
  font-weight: 600;
}

.demo {
  display: none;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sample {
  background-color: rgba(var(--bg-color), 0.5);
  border-radius: 1rem;
  min-height: 30vh;
  margin: 2rem 0;
}

.sample p {
  word-wrap: break-word;
  padding: 0.5rem 0;
}

.sample a {
  color: var(--text-color);
  padding: 0.5vh 0.5vw;
  background-color: var(--primary-color);
  border-radius: 0.75vh;
  border: 2px solid var(--text-color);
  box-shadow: 5px 5px rgba(var(--bg-color), 0.5);
}

.sample a i {
  color: var(--text-color);
  margin-left: 5px;
}

.vltr {
  display: none;
}

.img_fr {
  width: 100%;
  height: auto;
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img_fr:hover .image {
  opacity: 0.3;
}

.img_fr:hover .middle {
  opacity: 1;
}

@keyframes slide_from_left {
  from {transform:  translateX(-50vw);}
  to {transform: translateX(0);}
}

@keyframes slide_from_right {
  from {transform: translateX(50vw);}
  to {transform: translateX(0);}
}

@keyframes slide_from_bottom {
  from {transform: translateY(50vh);}
  to {transform: translateY(0);}
}

@keyframes slide_from_top {
  from {transform: translateY(-50vh);}
  to {transform: translateY(0);}
}

.from_left {
  animation: slide_from_left 0.75s ease-in-out;
}

.from_right {
  animation: slide_from_right 0.75s ease-in-out;
}

.from_bottom {
  animation: slide_from_bottom 0.75s ease-in-out;
}

.from_top {
  animation: slide_from_top 0.5s ease-in-out;
}

.txt-ctr {
  text-align: center;
}

.txt-highlight {
  color: var(--primary-color);
  font-style: italic;
}
