@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #163020;
  --light-grey: #f7f7c2;
  --secondary-color: #EEF0E5;
  --dark-blue: #00224D;
  --bg-color: #B6C4B6;
  --default-font: "Poppins", sans-serif;

  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--default-font);
  font-size: 1rem;
  transition: all .3s ease-in-out;
}

h1 {
  font-size: 5rem;
  margin: 2rem 0;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 1.5rem 0;
}

button {
  font-family: var(--default-font);
  font-size: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

i {
  font-size: 1.2rem;
}

ul {
  margin: 0 1rem;
}

img {
  width: 100%;
}

.spacing-1 {
  margin: 0 1rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 15vw;
  position: fixed;
  z-index: 10;
  top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.nav-item {
  margin: 0.5rem 0;
  box-shadow: none;
  border: 0;
  border-radius: 1.25rem;
  background-color: transparent;
  min-height: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
}

.nav-item i {
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-item:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

.active-btn {
  background-color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}

.maincontent {
  width: 100%;
  margin: 0;
}

.section {
  display: block;
  overflow: hidden;
  width: 100vw;
  word-wrap: break-word;
  min-height: 100vh;
  padding-left: 15vw;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../img/toronto.jpg');
  background-size: cover;
  image-rendering: optimizeSpeed;
}

.social-link {
  width: 100%;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  padding: 2rem 1rem;
}

.social-link i {
  font-size: 2.5rem;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 1.25rem;
  color: var(--primary-color);
  margin: 0 0.5rem;
}

.social-link a:hover i {
  transition: all 0.1s ease-in-out;
  font-size: 2.75rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  top: -10vh;
  display: none;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  display: block;
}

.skills {
  display: none;
  flex-direction: column;
}

.card-container {
  display: grid;
  width: 78vw;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}

.card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  width: 15vw;
  height: fit-content;
  background-color: var(--secondary-color);
}

.exp {
  display: none;
}

.timeline {
  max-width: 70vw;
  margin: 0 auto;
}

.checkpoint {
  max-width: 500px;
  position: relative;
  padding: 1rem;
}

.checkpoint div {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

.checkpoint:nth-child(odd) {
  border-left: 3px solid var(--primary-color);
  padding-left: 2rem;
  transform: translateX(248.5px);
}

.checkpoint:nth-child(even) {
  border-right: 3px solid var(--primary-color);
  padding-right: 2rem;
  transform: translateX(-248.5px);
}

.edu {
  display: none;
}

.level {
  border-left: 2px solid var(--dark-blue);
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.desc span{
  font-weight: 600;
}

.demo {
  display: none;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sample {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  width: 60vw;
  min-height: 30vh;
  margin: 2rem 0;
  padding: 3vh 2vw;
}

.sample p {
  word-wrap: break-word;
  padding: 0.5rem 0;
}

.vltr {
  display: none;
}

.contact {
  display: none;
}

